@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inria Sans", sans-serif;
}
body
{
    background: rgb(36,15,128);
    background: radial-gradient(circle, rgba(36,15,128,1) 0%, rgba(7,1,15,1) 62%);
}
.card
{
    background-color: #d3cbf5;
    color: #37284d;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #242633;
}

.cardPrincipal
{
    background-color: #ffffff;
    border-radius: 10px;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
}
.formularioPT1
{
    display: flex;
    flex-direction: column;
}

.formularioPT1 h3
{
    margin-left: 50px;
}


.hide {
    display: none;
}

#form, #editForm
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

#formInput, #editInput
{
    width: 68%;
    height: 25px;
    padding: 2px;
    padding-left: 5px;
    border-radius: 10px;
    border: 1px solid #423a66;
}

#select-prioridade
{
    height: 25px;
    width: 17%;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid #423a66;
}

.formularioFerramentas
{
    display: flex;
    flex-direction: column;
}


.PesquisaFiltros
{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-top: 20px;
}

.search
{
    display: flex;
    gap: 10px;
    align-items: center;
}

#search
{
    height: 25px;
    border-radius: 10px;
    border: 1px solid #423a66;
    padding: 2px;
    padding-left: 5px;
}

.filtro
{
    display: flex;
    gap: 10px;
    align-items: center;
}

#filtrar-prioridade
{
    height: 25px;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid #423a66;
}

/* .todo
{
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #4e4770;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    padding-left: 15px;
    border: 1px solid #423a66;
} */

.urgente-op
{
    color: hsl(0, 100%, 50%);
}

.normal-op
{
    color: hsl(61, 100%, 50%);
}

.baixa-op
{
    color: hsl(115, 100%, 50%);
}

.done
{
    background-color: #392e69;
    color: #d3cbf5;

    h3 {
        text-decoration: line-through;
    }
}

.botoes
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.lista-todo
{
    gap: 10px;
    background-color: #beb0d1;
    border-radius: 10px;

}

button
{
    background-color: #ffff;
    color: #423a66;
    border: 1px solid #423a66;
    border-radius: 10px;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

i {
    pointer-events: none;
}

.bx
{
    padding-top: 2px;
}

button:hover
{
    background-color: #423a66;
    color:hsl(0, 0%, 100%);
}

.finish-todo:hover
{
    color: hsl(115, 100%, 50%);
}
.edit-todo:hover
{
    color: hsl(61, 100%, 50%);
}
.delete-todo:hover
{
    color:hsl(0, 100%, 50%);
}